@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema!</h1>
    <p>Usted como personal administrativo, se encargará de gestionar toda la información correspondiente a la pizzería "Pizza Nicola"</p>
</div>
